<p-toolbar>
  <div class="p-toolbar-group-left">
    <span class="p-toolbar-title">KROS</span>
    <span class="p-toolbar-separator"></span>
    <a routerLink="/invoices" class="p-toolbar-link">Zoznam faktúr</a>
    <a routerLink="/invoices/1" class="p-toolbar-link">Faktúra</a>
    <a routerLink="/invoicesjson" class="p-toolbar-link">Faktúra from JSON</a>
  </div>
</p-toolbar>

<div class="p-grid">
  <div class="p-col">
    <main>
      <router-outlet></router-outlet>      
    </main>
  </div>
</div>