@import "./assets/layout/layout.scss";

@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeflex/primeflex.css";
@import "~primeicons/primeicons.css";

// .p-field > * {
//     display: block;
//   }

  body{
    font-size: 15px;
  }

  .display-flex {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .flex-1 {
    flex: 1;
  }
  
  .flex-2 {
    flex: 2;
  }
  
  .flex-3 {
    flex: 3;
  }
  
  .flex-4 {
    flex: 4;
  }
  
  .flex-5 {
    flex: 5;
  }
  
  .flex-6 {
    flex: 6;
  }